[user]
	name = Nicola Zambello
	email = nzambello@protonmail.com
[alias]
    co = checkout
    ca = commit -am
    st = status
    aa = add -u
    ci = commit
    unstage = reset HEAD --
    last = log -1 HEAD
    log = log --graph --decorate
    logg = log --graph --decorate
    contrib = shortlog -sn
    d = difftool
	yolo = commit -m \"$(curl -s https://whatthecommit.com/index.txt)\"
	lg = log --format='%h %C(cyan)%al %C(yellow)%s'
[core]
    editor = vim
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[http]
[https]
[http]
[https]
